body, html {
    margin: 0;
    background-color: darkkhaki;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background-color: orange;
    width: 70%;
    padding: 7rem;
    margin: 10rem auto;
    border-radius: 2rem;
    border: 2px solid;
    text-align: center;
}

#resultado {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
}

.btn {
    border: 1px solid;
    border-radius: 2rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

.inp {
    font-size: 1.5rem;
    max-width: 6rem;
}

footer{
    background-color: #0d0d0d;
    color: #fff;
    padding: 1em;
    text-align: center;
}

footer a {
    color: #d2d2d2;
    text-decoration: none;
}
