body {
    background-color: #d2d;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    background-image: url(imagem-banner.jpg);
    background-attachment: fixed;
    height: 900px;
    background-size: cover;
    padding-top: 1px;
}

.div-cabecalho {
    margin: 300px auto 0 auto;
    width: 80%;
    text-align: center;
}

.div-cabecalho h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.div-cabecalho a {
    background-color: blueviolet;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    text-transform: uppercase;

}

.div-cabecalho a:hover {
    background-color: #fff;
    color: blueviolet;
}

/* menu  */

.cabecalho nav ul {
    margin: 25px 40px 0 0;
    text-align: right;
}

.cabecalho nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.cabecalho nav a {
    color: #fff;
    text-decoration: none;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 5px;
}

.cabecalho nav a:hover {
    background-color: #fff;
    color: blueviolet;
}

/* main  */

main {
    width: 90%;
    margin: auto;
}

main article {
    background-color: #fff;
    padding: 5px;
    margin: 20px;
}

main header {
    background-color: aqua;
    text-align: center;
}

.texto {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}




/* footer  */
footer {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}