body, html {
    margin: 0;
    background-color: wheat;
    font-size: 1.2em;
}

h1 {
    width: 100vw;
    text-align: center;
    margin: 2rem auto;
}

.main {
    max-width: 1000px;
    margin: 0 auto;

}

